<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
   

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="logo"></div>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                

                @Html.ActionLink("Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <nav>
        <div id="w">

            <ul id="nav" class="nav">
                <li>
                    <a href="#">VEHICLES</a>
                    <ul>
                        <li><a href="/cars/wedding">WEDDING</a></li>
                        <li><a href="/cars/classic">CLASSIC</a></li>
                        <li><a href="/cars/tvandmovie">TV/MOVIE</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">GALLERY</a>
                    <ul>
                        <li><a href="/gallery">GALLERY</a></li>
                        <li><a href="/testimonials">TESTIMONIALS</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dontfollow" href="#" rel="nofollow">INFO</a>
                    <ul>
                        <li><a href="/articles">ABOUT</a></li>
                        <li><a href="/forums">CONTACT</a></li>
                        <li><a href="/about">SUPPORT</a></li>
                        <li><a href="/about">AFFILIATES</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">NEWSLETTER</a>
                    <ul>
                        <li><a href="#">SIGNUP</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>This is the footer</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
