<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/main.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

</head>
<body>
   
    <div class="top-navbar">
        <div class="navlinks">
            <ul>
                <li>@Html.ActionLink("HOME", "Index", "Home")</li>
                <li>@Html.ActionLink("ABOUT", "About", "Home")</li>
                <li>@Html.ActionLink("CONTACT", "Contact", "Home")</li>

                @Html.Partial("_LoginPartial")
            </ul>
        </div>
    </div>


    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="logo"></div>
        <div class="general"></div>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
        </div>
    </div>
    <nav>
        <div id="w">

            <ul id="nav" class="nav">
                <li>
                    <a href="#">VEHICLES</a>
                    <ul>
                        <li><a href="/cars/wedding">WEDDING</a></li>
                        <li><a href="/cars/classic">CLASSIC</a></li>
                        <li><a href="/cars/tvandmovie">TV/MOVIE</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">GALLERY</a>
                    <ul>
                        <li><a href="/gallery">GALLERY</a></li>
                        <li><a href="/testimonials">TESTIMONIALS</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dontfollow" href="#" rel="nofollow">INFO</a>
                    <ul>
                        <li><a href="/articles">ABOUT</a></li>
                        <li><a href="/forums">CONTACT</a></li>
                        <li><a href="/about">SUPPORT</a></li>
                        <li><a href="/about">AFFILIATES</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">NEWSLETTER</a>
                    <ul>
                        <li><a href="#">SIGNUP</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
       
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)


    
    
    <script src="~/Scripts/bjqs-1.3.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.secret-source.min.js" type="text/javascript"></script>
    <script src="~/Scripts/nav.js" type="text/javascript"></script>


</body>
</html>
