@model IEnumerable<CarRentals.Models.Company>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyWebsite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyFacebook)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CompanyTwitter)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyWebsite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyFacebook)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyTwitter)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyID })
        </td>
    </tr>
}

</table>
